<model-form heading="$ctrl.label">
  <form-select apply-model="'true'" data="$ctrl.row" column="'destination'" label="'Destination'" field-id="'destination'" models="$ctrl.portmodels" display-column="'name'"></form-select>


  <div class="form-group">
      <label class="control-label col-sm-2">Delivery Date</label>
      <div class="col-sm-10">
        <div uib-datepicker ng-model="$ctrl.dt" ng-click="c()" class="well well-sm" datepicker-options="options"></div>
      </div>
  </div>
  {{$ctrl.dt}}
{{$ctrl.row.deliveryDate}}


  <form-select apply-model="'true'" data="$ctrl.row" column="'product'" label="'Product'" field-id="'product'" models="$ctrl.productsmodels" display-column="'name'"></form-select>
  <form-field type="'number'" max="'500'" min="'1'" data="$ctrl.row" column="'quantity'" label="'Quantity (Crates)'" field-id="'quantity'" placeholder="'Quantity'"></form-field>
  <form-select type="'text'" data="$ctrl.row" column="'orderStatus'" label="'Status'" field-id="'name'" models="$ctrl.models" display-column="'name'"></form-select>
</model-form>
