<fieldset ng-disabled="$ctrl.readOnly">
  <model-form heading="$ctrl.label">

    <form-select apply-model="'true'" data="$ctrl.row" column="'order'" label="'Order'" field-id="'order'" models="$ctrl.orders" display-column="'displayText'"></form-select>

    <div class="form-group">
        <label class="control-label col-md-2">Collection Date</label>
        <div class="col-sm-10">
          <div uib-datepicker ng-model="$ctrl.dt" ng-click="c()" class="well well-sm" datepicker-options="options"></div>
        </div>
    </div>

    <form-select ng-if="$ctrl.row.order && $ctrl.row.order.id!=-1" apply-model="'true'" data="$ctrl.row" column="'source'" label="'From Port'" field-id="'port'" models="$ctrl.ports" display-column="'name'"></form-select>
    <form-select ng-if="$ctrl.row.source && $ctrl.row.source.id!=-1" apply-model="'true'" data="$ctrl.row" column="'ship'" label="'Ship'" field-id="'ship'" models="$ctrl.ships" display-column="'name'"></form-select>


    <form-select ng-if="$ctrl.row.ship && $ctrl.row.ship.id!=-1" apply-model="'true'" data="$ctrl.row" column="'warehouse'" label="'Warehouse'" field-id="'warehouse'" models="$ctrl.warehouses" display-column="'name'"></form-select>

  </model-form>
</fieldset>
