.fixed-table-body {
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: #eeeeee;
  min-height: 100vh;
  font-size: 20px;
}

#sidebar a {
  color: #d9230f;
  text-decoration: none;
}

#content {
  margin-left: 15px;
  width: 100%;
}

#sidebar li.active a {
  color: black;
}

#sidebar li.active {
  background-color: white;
}

#sidebar li {
  padding-left: 20px;

  padding-top: 50px;
  padding-bottom: 50px;
}

.inl-bl {
  display: inline-block;
}

.colorpicker-alpha {
  display: none !important;
}

nav.nav-wizard {
  margin-top: 10px;
}

.nav-wizard > li.active > a,
.nav-wizard > li.active > a:hover,
.nav-wizard > li.active > a:focus {
  background-color: #d9230f !important;
}

.nav-wizard > li.active > a:after {
  border-left-color: #d9230f !important;
}

.container {
  margin: 0px;
  width: 100%;
}

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 3px;
}

.swal2-icon.swal2-warning {
  color: #d9230f;
  border-color: #d9230f;
}

.col-md-12 {
  padding-left: 0px;
}

.pace .pace-progress {
  background: #d9230f;
}

.detail-icon {
  color: #d9230f;
}

.page-row {
  padding: 5px;
}

.number-filter-input {
  min-width: 70px !important;
}

.number-filter-comparator{
  width: 30px !important;
  padding: 0px !important;
}


a:hover {
  cursor: pointer;
}
/*.nav-wizard > li:not(:last-child) > a:after, .nav-wizard > li:not(:first-child) > a:before { {
  border-top: 23px inset transparent;
  border-bottom: 23px inset transparent;
}

.nav-wizard .container-fluid {
  font-size: 20px !important;
}*/
