<div ng-controller="ships"><form novalidate name="formData">
  <div class="container">

    <div class="row" style="padding:20px">
      <div class="col-sm-12" style="text-align:center">
        <h2>{{$ctrl.heading}}</h2>
        <p>{{$ctrl.description}}</p>
      </div>
    </div>

    <div class="row" style="padding:20px">
      <div class="col-md-12">
        <div>
          <button class="btn btn-basic" ng-click="showForm(true)" ng-if="showNewForm == false">
            <i class="glyphicon glyphicon-plus icon-plus"></i> Add
          </button>
          <div ng-if="showNewForm" class="jumbotron"><div ng-transclude></div></div>
          <div class="pull-right">
            <button class="btn btn-default" ng-click="showForm(false);$ctrl.createNewRow()" ng-if="showNewForm">
              Cancel
            </button>
            <button class="btn btn-success" ng-click="add();showForm(false);" ng-if="showNewForm" ng-disabled="$ctrl.isInvalid($ctrl.newRow)">
              Add
            </button>
          </div>
        </div>
        <br />
        <div style="width:100%">

        </div>
      </div>
    </div>
    <div class="row" style="padding:20px">
      <div class="col-md-12">
        <table style="margin-right:100px" id="displayTable"
                 data-toolbar="#toolbar"
                 data-search="true"
                 data-detail-view="{{$ctrl.cantCollapse?'false':'true'}}"
                 data-pagination="true"
                 data-side-pagination="client"
                 data-page-list="[5, 10, 20, 50, 100, 200]"
                 >
          </table>
      </div>
    </div>

</div>



</form>
</div>
